<h1>{{model.name}}</h1>
{{#if model.entries}}
  <h2>Entries</h2>
  {{#each model.entries as |entry|}}
    <div class="item">
      <i class="large middle aligned icon right">
        <strong>{{entry.amount}}</strong>
        {{entry.date}}
      </i>
      <div class="content">
          {{entry.description}}
        <div class="description">{{account.description}}</div>
      </div>
    </div>
  {{/each}}
  {{else}}
    <strong>There are no entries</strong>
  {{/if}}
  {{#ember-wormhole to="fixedBottom"}}
    <div class="ui two buttons fixedBottom">
      {{#link-to 'main.entries.create' (query-params type="income") tagName='button' class="ui green button"}} Income {{/link-to}}
      {{#link-to 'main.entries.create' (query-params type="expense") tagName='button' class="ui red button"}} Expense {{/link-to}}
    </div>
  {{/ember-wormhole}}
